
/*--------------------------------*\

              COLOR

\*--------------------------------*/     

:root {
    --primary: #B5A1E5;
    --on-primary: #100e17;
    --background: #131214;
    --on-background: #eae6f2;
    --surface: #1d1c1f;
    --on-surface: #dddae5;
    --on-surface-variant:#7b7980;
    --on-surface-variant-2: #b9b6bf;
}